<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.title + page.title }}</title>
  <meta name="viewport" content="width=device-width">
  
  <!-- facebook meta tags -->
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:url" content="http://{{ site.dnshost }}{{ page.url }}"/>
  <meta property="og:type" content="article"/>
  {% if page.featured_image %}
  <meta property="og:image" content="http://{{ site.dnshost }}{{ site.baseurl }}{{ page.featured_image }}"/>
  {% else %}
  <meta property="og:image" content="http://{{ site.dnshost }}{{ site.baseurl }}{{ site.sidebar_image }}"/>
  {% endif %}

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/pjlrenseignement.css">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
  {% include _ga.html %}
</head>
<body>
  {{ content }}
</body>
</html>
