---
layout: default
---
{% if page.featured_image %}
<header style="background-image: url({{ site.baseurl }}{{ page.featured_image }});">
{% else %}
<header style="background-image: url({{ site.baseurl }}{{ site.featured_image }});">
{% endif %}
  <div class="container post-container">
    <a href="{{ site.baseurl }}/" class="home_button"></a>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            {{ page.tagline }}
          </span>
        </li>
        <li>
          <span><a href="/">Temps Libre, le blog</a></span>
        </li>
        <li>
          <span>
            
          <a href="https://twitter.com/krichtof" target="_blank">Twitter</a>, 
          <a href="https://www.linkedin.com/profile/view?id=158437684" target="_blank">LinkedIn</a>
        </span>            
        </li>
      </ul>      
    </div>
  </div>
</header>

<article>
  <div class="container">
    {{ content }}
  </div>
</article>