---
layout: default
---
{% if page.featured_image %}
<header style="background-image: url({{ site.baseurl }}{{ page.featured_image }});">
{% else %}
<header style="background-image: url({{ site.baseurl }}{{ site.featured_image }});">
{% endif %}
  <div class="container post-container">
    <a href="{{ site.baseurl }}/" class="home_button"></a>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            Publié
          </span>
          {{ page.date | date_to_string }}
        </li>
        {% if page.tags.size > 0 %}
        <li>
          <span>
            Tags
          </span>
          {% for tag in page.tags %}
            <span><a href="/tag/{{ tag }}">{{ tag }}</a></span>
          {% endfor %}
        </li>
        {% endif %}
        <li>
          <span>Issu du blog <a href="/">Temps Libre</a></span>
        </li>  
        <li>
          <span>
            Ecrit par
            <span>
              <a href="/about.html">Christophe Robillard</a>
          </span>            
          </span>
        </li>
        <li>
          <span>
            <a href="https://twitter.com/krichtof" target="_blank">Twitter</a>, 
           <a href="https://www.linkedin.com/profile/view?id=158437684" target="_blank">LinkedIn</a>
          </span>
        </li>
      </ul>      
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
        <li class="previous">
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            Précédent
          </a>
        </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          Suivant
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<article>
  <div class="container">
    {{ content }}
    {% if page.comments  %}
    {% include _disqus.html %}
    {% endif %}
  </div>
</article>

