---
layout: default
---
<header id="home-header" style="background-image: url({{ site.baseurl }}{{ site.sidebar_image }});">
  <div class="container post-container">
    <a href="{{ site.baseurl }}/" class="home_button"></a>
    <div class="inner-container">
    <h1>{{  page.tag }}</h1>
    <ul class="meta">
      <li>
        <span><a href="/">Temps Libre, le blog</a></span>
      </li>
      
      <li>
        <span>
          Le journal perso de <a href="/about.html">Christophe Robillard</a>
        </span>
      </li>
      <li>
        <span>
          
        <a href="https://twitter.com/krichtof" target="_blank">Twitter</a>, 
        <a href="https://www.linkedin.com/profile/view?id=158437684" target="_blank">LinkedIn</a>
      </span>            
      </li>
      
  </div>
  </div>
</header>
<article>
  <div class="container">
    <ul class="posts">
      {% for post in site.posts %}
      {% for tag in post.tags %}
    	{% if tag == page.tag %}    	
        <li>
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <span class="meta">
            {{ post.date | date_to_string }}
          </span>
          {{ post.excerpt }}
          <a href="{{ site.baseurl}}{{ post.url}}">Lire la suite</a>
        </li>
      	{% endif %}
      	{% endfor %}
      	{% endfor %}
    </ul>
  </div>
</article>
